<div class="flex justify-center items-top">
  <article-container
    [name]="name[0]"
    [articlesData]="articlesData"
    draggable="false"
    (changecontainerEvent)="changeContainer($event)"
    (sendpositionEvent)="changePosition($event)"
  ></article-container>
  <article-container
    draggable="false"
    [name]="name[1]"
    [articlesData]="articlesData"
    (changecontainerEvent)="changeContainer($event)"
    (sendpositionEvent)="changePosition($event)"
  ></article-container>
</div>

